* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e6ddd5;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 380%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    text-align: center;   
}

.waviy {
    text-align: center;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  }
  .waviy span {
    font-family: 'Courier New',;
    position: relative;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }

ul {
    list-style-type: none;
    margin: 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: auto;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10%;
    text-decoration: none;
    transition: transform .5s;
}
  
li a:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.2); 
}

main {
    margin-left: 4rem;
    margin-right: 4rem;
    
}

.intro h2, article {
    justify-content: center;
    text-align: center;
}

.virgil-img {
    justify-content: center;
    height: auto; 
    max-width: 100%;
}

.biografie {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.biografie h2{ 
    text-align: center;
}

.hide {
    display: none;
    transition: transform 1s;
}

.biografie h2:hover +.hide{
    display: block;
    color: black;
}

.biografie img {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.biografie article, .hide {
    width: 37%;
    padding: 1rem;
    margin: 1rem;
    transition: transform 1s;
}

.biografie article:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.off-white{
    display: flex;

}

.off-white > div {
    margin-left: 2rem;
    margin-right: 2rem;
}

.off-white img {
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.off-white article {
    padding: 1.5rem;
    margin-top: 1rem;
    margin-left: 15rem;
    margin-right: 15rem;
    margin-bottom: 2rem;
    transition: transform 1s;
}

.off-white article:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.louis-vuitton{
    display: flex;
    background-image: url(images/LV-pattern.png);

}

.louis-vuitton > div {
    margin-left: 1rem;
    margin-right: 1rem;
}

.louis-vuitton article {
    width: 45%;
    padding: 1rem;
    margin: 1rem;
    background-color: #e6ddd5;
    transition: transform 1s;
}

.louis-vuitton article:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.1);
}

.louis-vuitton img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dark-mode li a {
    background-color: black;
    color: white;
}

.light-mode {
    background-color: #e6ddd5;
    color: black;
}

footer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin-top: auto;
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  
}

